/*Sashimiblade.com - Alexander Freas */
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100%;
	font-family: Georgia;
	font-size: 18px;
	color: #696969;
}

a:link {
	color: #696969;
	text-decoration: none;
}

a:hover {
	color: #EEAE1F;
}

a:visited {
	color: #000000;
}

.wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.main {
	height: 100%;
	width: 100%;
}

.main section .page_container {
	position: relative;
	top: 8%;
	max-width: 100%;
	z-index: 3;
/*	border: 2px solid blue;
*/	height: 700px;
	overflow: hidden;
}

.main section {
	overflow: hidden;
}

.main .content {
	width: 900px;
	/*border: 2px solid black;*/
	margin-left: auto;
	margin-right: auto;
}

/*PAGE 0 - SPLASHPAGE*/
.main section.page0 {
	background-color: gray;
	background-image: url('allee2_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top-left;
	height: 100%;
}

.main section.page0 .transparency {
	background-color: #ffffff;
	opacity: 0.4;
	width: 100%;
	height: 300px;
	margin-top: 13%;
	position: absolute;
}

.main section.page0 .content {
	width: 100%;
	margin-top: 13%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

.main section.page0 .content h1{
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #000000;
	letter-spacing: 12px;
	font-size: 80px;
}

.main section.page0 .content li {
	text-decoration: none;
	display: inline-flex;
	text-transform: uppercase;
	margin-right: 60px;
	letter-spacing: 5px;
}

.main section.page0 .content a {
	color: #696969;
}

.main section.page0 .content a:hover {
	color:#EEAE1F;
}

/*PAGE 1 - ABOUT*/
.main section.page1 {
	background-color: gray;
	background-image: url('wallbg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top-left;
	height: 100%;
}

.main section.page1 .content {
	margin-left: 5%;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	height: 100%;
}

.main section.page1 .content h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #000000;
	font-size: 45px;
	letter-spacing: 2px;
	margin-top: 0;

}

.main section.page1 .content p {
	margin-left: 15%;
	margin-right: 15%;
}

/*PAGE 2 - PROJECTS*/
.main section.page2 {
	background-image: url('lakebg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top-left;
	height: 100%;
}

.main section.page2 a{
}

.main section.page2 a:hover {
	color: #EEAE1F;
}

.main section.page2 .content {
	width: 1200px;
	height: 600px;
	background-color: #ffffff;
}

.main section.page2 .content .grid {
	width: 450px;
	height: 450px;
	/*border: 1px solid red;*/
	margin-top:6%;
	margin-bottom: 10%;
	margin-left: 4%;
	position: fixed;
}

.main section.page2 .content .grid div {
	width: 150px;
	height: 150px;
/*	outline: 1px solid blue;*/
	float: left;
}

.main section.page2 .content .projects {
	height: 400px;
	width: 500px;
	/*border: 1px solid red;*/
	float: right;
	margin-top: 5%;
	margin-right: 5%;
}

.main section.page2 .content h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 40px;
	color: #000000;
	letter-spacing: 2px;
	padding-top: 25px;
}

.main section.page2 .content .projects_detail h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #696969;
	font-size: 22px;
}

.main section.page2 .content .projects_detail ul {
	list-style-type: circle;
	text-align: left;
	margin-top: 15px;
}

.main section.page2 .content .projects_detail li {
	margin-bottom: 20px;
}

/*PAGE 3 - CONNECT*/
.main section.page3 {
	background-image: url('treebg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top-left;
	height: 100%;
}

.main section.page3 .content {
	height: 100%;
	background: #ffffff;
}

.main section.page3 .content .contact {
	/*border: 1px solid red;*/
	float: left;
	text-align: left;
	margin-left: 5%;
	margin-top: 0;
}

.main section.page3 .content .social {
	/*border: 1px solid red;*/
	float: right;
	margin-right: 15%;
	margin-top: 0;
}

.main section.page3 .content h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 40px;
	color: #000000;
	letter-spacing: 2px;
	padding-top: 25px;
}

/* MEDIA */

@media (max-width: 1200px) {
	.main section.page2 .content .grid {
		width: 100%;
		height: 150px;
		margin-left: 20%;
		margin-top: 80px;
	}
	.main section.page2 .content .grid div {
		width: 80px;
		height: 80px;
	}
	.main section.page2 .content .grid img {
		width: 80px;
		height: 80px;
	}
	.main section.page2 .content .projects {
		margin-top: 20%;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
}

@media (max-width: 1100px) {

	.main .section.page2 .content {
		width: 900px;
		height: 600px;
	}
	.main section.page2 .content .grid {
		margin-left: 8%;
	}
	.main section.page2 .content .grid div {
		width: 80px;
		height: 80px;
	}
}

@media (max-width: 850px) {
	.main section.page0 .content h1 {
		font-size: 70px;
	}
	.main section.page1 .content {
		width: 650px;
	}
	.main .section.page2 .content {
		width: 750px;
	}
	.main section.page2 .content .grid div {
		width: 60px;
		height: 60px;
	}
	.main section.page2 .content .grid img {
		width: 60px;
		height: 60px;
	}
	.main section.page2 .content .grid {
		margin-left: 12%;
		margin-top: 80px;
	}
	.main section.page2 .content .projects {
		width: 400px;
	}
	.main section.page3 .content {
		width: 750px;
	}
}

@media (max-width: 700px) {

	.main section.page0 .content h1 {
		font-size: 50px;
	}
	.main section.page0 .content {
		margin-top: 20%;
	}
	.main section.page0 .content li {
		margin-right: 40px;
	}
	.main section.page1 .content {
		width: 550px;
	}
	.main .section.page2 .content {
		width: 550px;
	}
	.main section.page2 .content .grid div {
		width: 50px;
		height: 50px;
	}
	.main section.page2 .content .grid img {
		width: 50px;
		height: 50px;
	}
	.main section.page2 .content .grid {
		margin-left: 15%;
	}
	.main section.page2 .content .projects {
		width: 400px;
	}
	.main section.page2 .content .grid div.empty {
		width: 25px;
	}
	.main section.page3 .content {
		width: 600px;
	}
	.main section.page3 .content .social img {
		height: 70px;
		width: 70px;
	}
}

@media (max-width: 550px) {
	.main section.page0 .content h1 {
		font-size: 45px;
	}
	.main section.page0 .content {
		margin-top: 20%;
	}
	.main section.page0 .content li {
		margin-right: 40px;
	}	
	.main section.page1 .content {
		width: 450px;
	}
	.main section.page3 .content .social {
		margin-right: 18%;
	}
	.main section.page3 .content .social img {
		height: 60px;
		width: 60px;
	}
}

@media (max-width: 500px) {
	.main section.page0 .content h1 {
		font-size: 35px;
	}
	.main section.page0 .content li {
		display: block;
		padding-bottom: 20px;
	}
	.main .section.page2 .content {
		width: 400px;
	}
	.main section.page2 .content .grid div {
		width: 50px;
		height: 50px;
	}
	.main section.page2 .content .grid img {
		width: 50px;
		height: 50px;
	}
	.main section.page2 .content .grid {
		margin-left: 8%;
		margin-top: 90px;
	}
	.main section.page2 .content .projects {
		width: 300px;
		margin-top: 150px;
	}
	.main section.page2 .content .grid div.empty {
		width: 15px;
	}
	.main section.page3 .content {
		width: 400px;
	}
	.main section.page3 .content .contact {
		text-align: center;
		margin-left: 30%;
	}
	.main section.page3 .content .social {
		margin-right: 42%;
	}
	.main section.page3 .content .social img {
		height: 60px;
		width: 60px;
	}
	form {
		display: none;
	}
}



